{% extends "base_site.html" %}
{% load admin_static %}
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/flot.css" %}"/>
{% endblock %}

{% block extrascript %}
<script language="javascript" type="text/javascript" src={% static "js/jquery.flot.pie.js" %}></script>
{% endblock %}

{% block content %}
<div>
  <h1> Host Dashboard: </h1>
  {% for host in hosts %}
  <script language="javascript" type="text/javascript">
    $(function() {
        $.plot("#{{host.name}}", {{ host.utilization_json | safe }}, { 
          legend: {position: "ne", margin: 1,
                   labelFormatter: function(label, series) {
                   return '<a href="/computing/project/'+label+'">'+label+'</a>';
                   }},
          series: { 
            pie: { 
              show: true
            } 
          }
        }
      );
    });
  </script>

  {% if host.state >= 0 %} 
  <div class="box" style='width:280px'>
  {% else %} 
  <div class="box" style='width:280px;background-color:#C0C0C0'>
    {% endif %}
    <h1><a href="/computing/host/{{ host.name }}">{{host.name}}</a></h1>
    {% if host.state >= 0 %}
    <h2>RUNNING</h2>{% else %}
    <h2>STOPPED</h2>{% endif %}

    <div class="flot-container" style="width:280px; height:120px;">
      <div id={{host.name}} class="flot-placeholder"></div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}

