{% extends "base_site.html" %}
{% load admin_static %}
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/flot.css" %}"/>
{% endblock %}

{% block extrascript %}
<script language="javascript" type="text/javascript" src={% static "js/jquery.flot.pie.js" %}></script>
{% endblock %}


{% block content %}

<script>
	jQuery(document).ready(function($) {
		$(".clickableRow").click(function() {
			window.document.location = $(this).attr("href")
		});
	});
</script>

<h1> Upload single POSCAR </h1>

<div style="margin:10px"> 
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <input type="file" name="myfilesingle">
    <button type="submit">Upload</button>
</form>


{% if uploaded_url %}
<p>Files uploaded at: {{ uploaded_url }}</p>
{% endif %}
</div>


<h1> Run Jobs </h1>
<div style="margin:10px;width:100%"> 
    <form method="post">{% csrf_token %}
        <button type="submit" name='subjobs'>Start</button>
    </form>
</div>

<h1> Check Project </h1>
<div style="margin:10px"> 
    <a href="/computing/project/Online_submit"> Project status </a>
</div>


{% endblock %}

