{% extends "base_site.html" %}
{% load admin_static %}
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/flot.css" %}"/>
{% endblock %}

{% block extrascript %}
<script language="javascript" type="text/javascript" src={% static "js/jquery.flot.pie.js" %}></script>
{% endblock %}

<!-- as of now has two loops, so that active projects are shown at the top -->

{% block content %}
<div>
  <h1> Host Dashboard: </h1>
  {% for project in projects %}
    {% if project.active %} 
      <div class="box" style='width:280px'>
      <h1><a href="/computing/project/{{ project.name }}">{{project.name}}</a></h1>
      <h2>RUNNING</h2>

      {% if project.task_set.count %}
        <script language="javascript" type="text/javascript">
        $(function() {
            $.plot("#{{project.name}}", {{ project.flot | safe }}, { 
              legend: {position: "ne", margin: 1,
                     labelFormatter: function(label, series) {
                     return '<a href="/computing/project/'+label+'/{{project.name}}">'+label+'</a>';
                     }},
              series: { 
                pie: { 
                  show: true
                } 
              }
            }
          );
        });
        </script>

        <div class="flot-container" style="width:280px; height:120px;">
          <div id="{{project.name}}" class="flot-placeholder">
          </div>
        </div>

      {% else %} 
        <h2> No tasks assigned. </h2>
      {% endif %}
  </div>
    {% endif %}
  {% endfor %}

  {% for project in projects %}
    {% if not project.active %} 
      <div class="box" style='width:280px;background-color:#C0C0C0'>
      <h1><a href="/computing/project/{{ project.name }}">{{project.name}}</a></h1>
      <h2>STOPPED</h2>

      {% if project.task_set.count %}
        <script language="javascript" type="text/javascript">
        $(function() {
            $.plot("#{{project.name}}", {{ project.flot | safe }}, { 
              legend: {position: "ne", margin: 1,
                       labelFormatter: function(label, series) {
                       return '<a href="/computing/project/'+label+'/{{project.name}}">'+label+'</a>';
                       }},
              series: { 
                pie: { 
                  show: true
                } 
              }
            }
          );
        });
        </script>

        <div class="flot-container" style="width:280px; height:120px;">
          <div id="{{project.name}}" class="flot-placeholder">
          </div>
        </div>

      {% else %} 
        <h2> No tasks assigned. </h2>
      {% endif %}
  </div>
    {% endif %}
  {% endfor %}

</div>

{% endblock %}

