{% extends "base_site.html" %}
{% load admin_static %}
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/flot.css" %}"/>
{% endblock %}

{% block extrascript %}
<script language="javascript" type="text/javascript" src={% static "js/jquery.flot.pie.js" %}></script>
{% endblock %}

{% block content %}
<h1> {{ sname }} Tasks for {{ project.name }} </h1>

<table>
  <thead>
    <th>Task ID</th>
    <th>Entry ID</th>
    <th>Composition</th>
    <th>Action</th>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td class=clickableRow href="/computing/task/{{task.id}}">{{task.id}}</td>
      <td class=clickableRow href="/computing/task/{{task.id}}">{{task.entry.id}}</td>
      <td class=clickableRow href="/computing/task/{{task.id}}">{{task.entry.name}}</td>
      {% if sname == "Failed" or sname == "Held" %}
      <td>
        <form action="" method="POST">{% csrf_token %}
          <button type="submit" value="{{task.id}}" name="reset">Reset</button>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
