{% extends "base_site.html" %}
{% load admin_static %}
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/flot.css" %}"/>
{% endblock %}

{% block extrascript %}
<script language="javascript" type="text/javascript" src={% static "js/jquery.flot.pie.js" %}></script>
{% endblock %}

{% block content %}
<h1> Queue Status: </h1>

<table>
  <thead>
    <th>ID</th>
    <th>Host</th>
    <th>Submission time</th>
  </thead>
  <tbody>
    {% for job in running %}
    <tr class=clickableRow href="/computing/job/{{job.id}}">
      <td>{{job.id}}</td>
      <td>{{job.account.host}}</td>
      <td>{{job.created | date:"m/d/y P"}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block sidebar %}
<div id="sidebar" class="box">
  <h1> Control panel </h1>
  <form action="" method="post">{% csrf_token %}
    If you press this button, all running jobs will be cancelled, and collected. So don't press it unless you mean it!
    <input type="button" value="Cancel All" onclick="this.form.submit();">
  </form>
</div>
{% endblock %}
