include qmpy/data/elements
include qmpy/data/data_mining
include qmpy/data/thermodata *
include qmpy/io/files *
recursive-include qmpy/analysis/vasp/files *
recursive-include qmpy/web *
recursive-include * *.cfg *.yml *.q *.txt *
