ase
bokeh
Django < 2.3
django-crispy-forms
django-extensions > 2.2.5
django-filter == 21.1
djangorestframework > 3.10
djangorestframework-queryfields
djangorestframework-xml
djangorestframework-yaml
lark-parser
lxml
matplotlib
mysqlclient
networkx
numpy
pexpect
pre-commit
PuLP
PyCifRW >= 4.3
pygraphviz
pyparsing
pytest
python-dotenv
python-memcached
PyYAML 
requests
scikit-learn
scipy
spglib > 1.10
