ase
bokeh == 0.12.15
Django == 2.2.24
django-crispy-forms == 1.8.1
django-extensions > 2.2.5
django-filter
djangorestframework > 3.10
djangorestframework-filters
djangorestframework-queryfields
djangorestframework-xml
djangorestframework-yaml
lark-parser
matplotlib
mysqlclient
networkx
numpy
pexpect
PuLP == 1.6.10
PyCifRW >= 4.3
pygraphviz == 1.3
pyparsing
pytest
python-memcached
PyYAML 
requests
scikit-learn
scipy
spglib > 1.10
