ase==3.22.1
async-timeout==4.0.2
attrs==21.4.0
bokeh==2.4.2
certifi==2021.10.8
charset-normalizer==2.0.12
cycler==0.11.0
defusedxml==0.7.1
Deprecated==1.2.13
Django==2.2.27
django-crispy-forms==1.14.0
django-extensions==3.1.5
django-filter==21.1
djangorestframework==3.13.1
djangorestframework-queryfields==1.0.0
djangorestframework-xml==2.0.0
djangorestframework-yaml==2.0.0
fonttools==4.31.2
gunicorn==20.1.0
idna==3.3
iniconfig==1.1.1
Jinja2==3.1.1
kiwisolver==1.4.2
lark-parser==0.12.0
lxml==4.8.0
MarkupSafe==2.1.1
matplotlib==3.5.1
mysqlclient==2.1.0
networkx==2.7.1
numpy==1.22.3
packaging==21.3
pexpect==4.8.0
Pillow==9.0.1
pluggy==1.0.0
ptyprocess==0.7.0
PuLP==2.6.0
py==1.11.0
PyCifRW==4.4.3
pygraphviz==1.9
pyparsing==3.0.7
pytest==7.1.1
python-dateutil==2.8.2
python-dotenv==0.20.0
python-memcached==1.59
pytz==2022.1
PyYAML==6.0
redis==4.2.1
requests==2.27.1
scipy==1.8.0
six==1.16.0
spglib==1.16.3
sqlparse==0.4.2
tomli==2.0.1
tornado==6.1
typing_extensions==4.1.1
urllib3==1.26.9
wrapt==1.14.0
