ase
bokeh == 0.12.15
Django == 2.2.24
django-crispy-forms
django-extensions > 2.2.5
django-filter == 21.1
djangorestframework > 3.10
djangorestframework-queryfields
djangorestframework-xml
djangorestframework-yaml
lark-parser
lxml
matplotlib
mysqlclient
networkx
numpy
pexpect
pre-commit
PuLP == 1.6.10
PyCifRW >= 4.3
pygraphviz
pyparsing
pytest
python-dotenv
python-memcached
PyYAML 
requests
scikit-learn
scipy
spglib > 1.10
