{% extends "base_site.html" %}
{% load admin_static %}
{% load i18n %}

{% block content %}

<style type="text/css">

    #table_container {
      width: 980px;
      float: left;
    }
    
    .disco_table {
      width: 470px;
      float:left;
      padding-top: 20px;
      text-align: center;
    }
    
    #left_table {
    	padding-right: 40px;
    }
    
</style>
  
<h1> OQMD discoveries: new compounds! </h1>

<div id="table_container">

<!-- table for prototypes that do NOT have an ICSD entry at the same composition --> 
  <div id="left_table" class="disco_table">
    <table>
      <thead>
        <th colspan=3> <h2> Compounds without a corresponding entry in the ICSD </h2> </th>
      </thead>
      <body>
        <th> Composition </th>
        <th> Prototype (name) </th>
        <th> &Delta;H<sub>f</sub> (eV/atom) </th>
        {% for comp in not_icsd %}
        <tr class="clickableRow" href="/materials/composition/{{comp.0}}">
          <td>{{ comp.0 }}</td>
          <td>{{ comp.1 }}</td>
          <td>{{ comp.2 | floatformat:-3}}</td>
        </tr>
        {% endfor %}
      </body>
    </table>
  </div>
  
<!-- table for prototypes that _do have_ an ICSD entry at the same composition --> 
  <div id="right_table" class="disco_table">
    <table>
      <thead>
        <th colspan=3> <h2> Compounds more stable than the corresponding ICSD entry </h2> </th>
      </thead>
      <body>
        <th> Composition </th>
        <th> Prototype (name) </th>
        <th> &Delta;H<sub>f</sub> (eV/atom) </th>
        {% for comp in icsd %}
        <tr class="clickableRow" href="/materials/composition/{{comp.0}}">
          <td>{{ comp.0 }}</td>
          <td>{{ comp.1 }}</td>
          <td>{{ comp.2 | floatformat:-3}}</td>
        </tr>
        {% endfor %}
      </body>
    </table>
  </div>

</div>

{% endblock %}

{% block sidebar %}
<div id="sidebar" class="box">
  <h2 class="subhead"> Search for an element to list its compounds* </h2>

  <form action="" method="post">{% csrf_token %}
    <input name='search' value="{{ search }}"/>
    <input type='submit'/>
  </form>
  Examples:<br>
  <ul>
    <li>Al</li>
    <li>Zr</li>
    <li>*Submit blank for a (long) list of all compounds</li>
  </ul>

</div>
{% endblock %}
