{% extends "base_site.html" %}
{% load admin_static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/flot.css" %}"/>
{% endblock %}

{% block extrascript %}
<script type="text/javascript" src={% static "js/jsmol/JSmol.min.js" %}></script>
{% endblock %}

{% block content_title %}
<h1> {{ prototype.composition.html | safe}} </h1>
{% endblock %}

{% block sidebar %}
{% if structure %}
<div id="sidebar" class="box">
  <h1> Visualization </h1>
  Prototypical structure: <a href="/materials/structure/{{structure.id}}">
    {{ structure.name }}</a>

  <div id="jmol">
    <script>
      var Info = {
        j2sPath: "{% static 'js/jsmol/j2s' %}",
        {% if primitive %}
        src: "/materials/export/primitive/cif/{{structure.id}}",
        {% else %}
        src: "/materials/export/conventional/cif/{{structure.id}}",
        {% endif %}
        use: "HTML5",
        width: 300,
        height: 300
      };
      Jmol.getApplet("myJmol", Info);
    </script>
  </div>

  <form action="" method="post">{% csrf_token %}
    <input type="radio" name="primitive" value="1" onclick="this.form.submit();"
    {% if primitive %}checked{% endif %}> Primitive Cell 
    <input type="radio" name="primitive" value="0" onclick="this.form.submit();"
    {% if not primitive %}checked{% endif %}> Conventional Cell
  </form>
  {% endif %}
</div>

{% endblock %}


{% block content %}
<h1> Summary </h1>
<ul>
  <li># of hypothetical decorations of this prototype that have been calculated: </li>
    {{prototype.entry_set.count}}
  <li># of stable compounds in this structure: </li>
    {{n_stable}}
</ul>

<h2> Entries with this structure </h2>

<table>
	<thead>
		<tr>
            <th>OQMD ID</th>
			<th>Composition</th>
            <th>Formation energy</th>
			<th>Stable?</th>
		</tr>
	</thead>
	<tbody>
		{% for entry in prototype.entry_set.all %}
		<tr class=clickableRow href="/materials/entry/{{ entry.id }}">
            <td>{{entry.id}}</td>
			<td>{{entry.composition.name}}</td>
            {% if not entry.energy %}
            <td>--</td>
            <td>--</td>
            {% else %}
            <td>{{entry.energy | floatformat:3}}</td>
			<td>{{entry.stable}}</td>
            {% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
