{% extends "base.html" %}
{% load admin_static %}
{% load i18n %}

{% block title %} OQMD | The Open Quantum Materials Database {% endblock %}

{% block branding %}
<h1> OQMD:</h1>
<h2> An Open Quantum Materials Database</h2>
{% endblock %}

{% block global-warning %}
{% if global_warnings %}
{% for message in global_warnings %}
Warning: {{ message.value }}<br>
{% endfor %}
{% endif %}
{% endblock %}

{% block global-info %}
{% if global_info %}
{% for message in global_info %}
Notice: {{ message.value }}<br>
{% endfor %}
{% endif %}
{% endblock %}

{% block auth %}
{% if user.is_authenticated %}
Welcome, {{ user.username }}.<br>
{% endif %}

{% endblock %}

{% block nav-global %}
<ul>
	<li><a href="/">Home</a></li>

	<li><a href="/materials/">Materials</a>
  <ul>
    <li> <a href="/materials/composition">Search</a></li>
    <li> <a href="/materials/discovery">Compound discovery</a> </li>
  </ul>
  <li><a href="/computing/">Computing</a>
  <ul>
    <li> <a href="/computing/hosts">Hosts</a>
      <ul>
        {% for host in host_list %}
        <li> <a href="/computing/host/{{host.name}}">
          {{host.name}}</a></li>
        {% endfor %} </ul></li>
    <li> <a href="/computing/projects">Projects</a>
      <ul>
        {% for project in project_list %}
          {% if project.active %}
            <li> <a href="/computing/project/{{project.name}}">{{project.name}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    <li> <a href="/computing/queue">Queue</a></li>
  </ul>
	<li><a href="/analysis/">Analysis</a>
  <ul>
    <li> <a href="/analysis/gclp/">GCLP</a> </li>
    <li> <a href="/analysis/phase_diagram/">Phase Diagrams</a> </li>
    <li> <a href="/analysis/visualize">Visualize</a></li>
  </ul>

	<li><a href="/documentation/overview">Documentation</a>
  <ul>
    <li> <a href="/documentation/vasp">DFT settings</a></li>
    <li> <a href="{% static "docs/index.html" %}">python API</a></li>
    <li> <a href="/documentation/structures">Structure sources</a></li>
    <li> <a href="/documentation/publications">Publications</a></li>
    <li> <a href="/faq">FAQ</a></li>
  </ul>

	<li><a href="/download/">Download</a></li>
</ul>
{% endblock %}

{% block footer %}
<hr>
<div style="width:200px;float:left">
	Contact us by <a href="mailto:openqmd@gmail.com">e-mail</a></div>
<div style="width:400px;float:right;text-align:right">
	If you are using any results from this website, please reference this work as shown <a href="/documentation/pubs">here</a></div>
{% endblock %}
