{% extends "base_site.html" %}
{% load admin_static %}

{% block title %}
OQMD | Download
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block content %}

<h1> Download </h1>
<h2> Last updated on: {{ updated_on }}</h2>

<h2>OQMD v1.1</h2>
An incremental release with minor changes but a large number of new structures added. Release notes will be made available shortly!<br>
Download the database here: <a href="{% static 'downloads/qmdb__v1_1__102016.sql.gz' %}">qmdb__v1_1__102016.sql.gz</a><br>
The new codebase to support it will soon be available on PyPI<br><br><br>

<h2>OQMD v1.0</h2>
The first release of OQMD retroactively called v1.0. Release notes will be made available shortly!<br>
Download the database here: <a href="{% static 'downloads/qmdb__v1_0__042014.sql.gz' %}">qmdb__v1_0__042014.sql.gz</a><br>
Download the codebase to support it at: <a href="https://pypi.python.org/pypi/qmpy">Download</a>
{% endblock %} 
