{% extends "base_site.html" %}
{% load admin_static %}
{% block title %}
OQMD
{% endblock %}


{% block extrahead %}
{% endblock %}

{% block content %}

<div style="min-height:30px;width:500px;box-shadow:none;border-color:rgba(2, 128, 144, 1);border-width:5px;" class="box">
    <p> The OQMD is a database of DFT calculated thermodynamic and structural 
        properties of more than 600,000 materials, created in 
        <a href="http://wolverton.northwestern.edu">Chris Wolverton's</a> 
        group at Northwestern University.
    </p>
</div>

<div>
<img src="{% static "img/NiTiAl_pd.png" %}" width=450 alt="Example of asking @TheOQMD about a composition">
</div>

{% endblock %}

{% block sidebar %}
<br /> 
<div id="sidebar" style="background:rgba(2, 128, 144, 1);border-width:0px;box-shadow:none;" class="box">
  <h1 style="text-align:center"> <font color="white"> Shortcuts </font> </h1>

  <div style="width:40%;box-shadow:none;border-color:white;border-width:5px" class="box">
    <a style="color:white;" href="/materials/composition"><h2>Search</h2>
    Material Phases </a>
  </div>

  <div style="width:40%;box-shadow:none;border-color:white;border-width:5px;" class="box">
    <a style="color:white;" href="/api/search"><h2>Browse</h2> 
    Material Properties </a>
  </div>

  <div style="width:40%;box-shadow:none;border-color:white;border-width:5px;" class="box">
    <a style="color:white;" href="/analysis/phase_diagram"><h2>Create</h2> 
    Phase Diagrams </a>
  </div>

  <div style="width:40%;box-shadow:none;border-color:white;border-width:5px;" class="box">
    <a style="color:white;" href="/analysis/gclp"><h2>Determine</h2>
    Ground State Compositions </a>
  </div>

  <div style="width:40%;box-shadow:none;border-color:white;border-width:5px;" class="box">
    <a style="color:white;" href="/analysis/visualize"><h2>Visualize</h2>
    Crystal Structures </a>
  </div>

  <div style="width:40%;box-shadow:none;border-color:white;border-width:5px;" class="box">
      <a style="color:white;" href="/api"><h2>API</h2></a>
      <a style="color:white;" href="/api/oqmdapi"> OQMD API</a>
      <br>
      <a style="color:white;" href="/api/optimade"> Optimade API</a>
  </div>

</div>
{% endblock %}
