{% extends "base_site.html" %}
{% load admin_static %}
{% block title %}
OQMD
{% endblock %}


{% block extrahead %}
{% endblock %}

{% block content %}

<div style="min-height:30px;width:500px;box-shadow:none;border-color:rgba(2, 128, 144, 1);border-width:5px;" class="box">
    <p> The OQMD is a database of DFT calculated thermodynamic and structural 
        properties of more than 600,000 materials, created in 
        <a href="http://wolverton.northwestern.edu">Chris Wolverton's</a> 
        group at Northwestern University.
    </p>
</div>

<div>
<img src="{% static "img/NiTiAl_pd.png" %}" width=450 alt="Example of asking @TheOQMD about a composition">
</div>

{% endblock %}

{% block sidebar %}
<br /> 
<div id="sidebar" style="background:rgba(2, 128, 144, 1);border-width:0px;box-shadow:none;" class="box">
  <h1> <font color="white"> Shortcuts </font> </h1>

  <div style="width:80px;box-shadow:none;border-color:white;border-width:5px;" class="box">
    <a style="color:white;" href="/materials/composition"><h2>Search</h2>
    for material phases </a>
  </div>

  <div style="width:80px;box-shadow:none;border-color:white;border-width:5px;" class="box">
    <a style="color:white;" href="/api/search"><h2>Browse</h2> 
    for material properties </a>
  </div>

  <div style="width:80px;box-shadow:none;border-color:white;border-width:5px;" class="box">
    <a style="color:white;" href="/analysis/phase_diagram"><h2>Create</h2> 
    phase diagrams </a>
  </div>

  <div style="width:80px;box-shadow:none;border-color:white;border-width:5px;" class="box">
    <a style="color:white;" href="/analysis/gclp"><h2>Determine</h2>
    ground state compositions </a>
  </div>

  <div style="width:100px;box-shadow:none;border-color:white;border-width:5px;" class="box">
    <a style="color:white;" href="/analysis/visualize"><h2>Visualize</h2>
    crystal structures </a>
  </div>

  <div style="width:100px;box-shadow:none;border-color:white;border-width:5px;" class="box">
    <a style="color:white;" href="/download"><h2>Download</h2>
    the entire database! </a>
  </div>

</div>
{% endblock %}
